* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80%;
  border: solid 2px black;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .row {
    width: 40%;
  }
}

.infoContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.form-floating {
  margin-top: 20px;
  margin-bottom: 20px;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-image: url(../fondos/celeste.jpg);
  background-size: cover;
}
@media (min-width: 768px) {
  header header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 100%;
    padding-bottom: 4%;
  }
  header header a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  header header img {
    width: 350px;
    height: 350px;
  }
}

nav {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
  background-image: url(../fondos/azul.jpg);
  background: cover;
  border-top: white solid 10px;
  width: 100%;
}

nav img {
  width: 100px;
  height: 50%;
}

header img {
  height: 150%;
  width: 50%;
}

header li {
  padding-bottom: 10px;
}

input {
  width: 200px;
  height: 25px;
}

aside {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 1%;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

.logoIndex {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.bodyIndex {
  background-image: url(../fondos/index.jpg);
  background-size: cover;
}

.bodyInfoEmp {
  background-image: url(../fondos/info.jpg);
  background-size: cover;
}

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.redesSociales img {
  width: 20px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .redesSociales img {
    width: 20px;
  }
}
@media (min-width: 1200px) {
  .redesSociales img {
    width: 50px;
  }
}
.redesSociales .headerPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapaLocal iframe {
  width: 70%;
}

.carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: black;
  background-size: 100%, 100%;
  border-radius: 70%;
  border: 1px solid black;
}

.listaHeader a {
  color: white;
}

.articulosIndex {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  gap: 6px;
  margin-left: 3%;
  margin-right: 3%;
}
.articulosIndex img {
  height: 100%;
  width: 100%;
  border: solid 2px black;
  border-radius: 10px;
  margin-bottom: 10px;
  background-image: url(../fondos/ventas.jpg);
  background-size: cover;
}
.articulosIndex a {
  padding-bottom: 15px;
}
.articulosIndex span {
  width: 100%;
  font-size: 2rem;
  margin-left: 25%;
}

.textoIndex {
  text-align: center;
  font-size: 2rem;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 15%;
  background-image: url(../fondos/azul.jpg);
  background: cover;
}

.textoPublicidad {
  text-align: center;
  font-size: 2rem;
  border: solid 2px white;
  color: aliceblue;
  border-radius: 10px;
  background-color: green;
  margin-bottom: 15px;
}

.tituloPublicidad {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

.consultaArticulo {
  background-color: tomato;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  color: black;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.volverAlInicio {
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  color: black;
  margin-bottom: 15px;
  font-size: 1.5rem;
  margin-top: 5px;
}

.tituloPaginaInterna {
  background-color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}
.tituloPaginaInterna h1 {
  font-size: 3.5rem;
  color: white;
}
.tituloPaginaInterna h2 {
  font-size: 2.5rem;
  background-color: aquamarine;
  color: white;
}
.tituloPaginaInterna p {
  color: white;
}

.footerGeneral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../fondos/celeste.jpg);
  background-size: cover;
}

.footerUl {
  display: flex;
  gap: 10px;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoFooter a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoFooter img {
  height: 35%;
  width: 35%;
  margin-left: 5%;
}

.footerUl a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.infoEmpresa {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.ordenInfoEmpresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 25px 0px 25px;
  border: solid white 2px;
  border-radius: 10px;
  padding: 10px;
}

.ordenInfoEmpresa div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordenInfoEmpresa img {
  width: 100%;
  height: 100%;
}

.imagenInfoEmpresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenInfoEmpresa img {
  width: 80%;
  height: 80%;
  padding-top: 15px;
}

.ordenInfoContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 25px 0px 25px;
  border: solid black 2px;
  border-radius: 10px;
  padding: 10px;
}

.ordenInfoContacto img {
  width: 100px;
}

.ordenInfoContacto h3 {
  text-align: center;
  font-size: 1.5rem;
}

.ordenInfoCondiciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 25px 0px 25px;
  border: solid black 2px;
  border-radius: 10px;
  padding: 10px;
}

.ordenContaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  background-color: aqua;
}

.ordenContaco div {
  text-align: center;
}

.mapaLocal {
  display: flex;
  flex-direction: column;
  border-top: 2px black solid;
  margin: 15px 15px 15px 15px;
  justify-content: center;
  align-items: center;
}

.mapaLocal span {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.mapaLocal iframe {
  width: 60%;
  padding: 10px;
}

.ordenInfoEmpresa img {
  width: 50%;
}

.formContacto ul li {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.tituloPaginaInterna h2 {
  font-size: 1.5rem;
  color: white;
}

/* Configuracion para pantallas mayores de 768px */
@media (min-width: 768px) {
  header {
    padding-bottom: 5%;
  }
  .logoIndex {
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .headerPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ordenPublicidad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .articulosIndex {
    margin-top: 20px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    text-align: center;
    border-bottom: 7px ridge white;
    border-left: 7px ridge white;
    border-right: 7px ridge white;
    border-radius: 2px;
  }
  .articulosIndex a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }
  .articulosIndex span {
    font-size: 4rem;
  }
  .articulosIndex img {
    height: 85%;
    width: 85%;
  }
  .footerUl {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .footerUl a {
    font-size: 1.2rem;
  }
  .articulosVenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 15px 15px 15px;
    transform: skewY(2s);
  }
  /* Transformaciones  */
  .consultaArticulo:hover {
    background-color: skyblue;
    color: black;
  }
  .listaHeader a:hover {
    color: black;
  }
  .footerUl a:hover {
    color: black;
  }
  .articulosIndex img:hover {
    border: solid 2px skyblue;
  }
  .formContacto ul li input:hover {
    background-color: darkslategrey;
    color: aliceblue;
  }
  .logoFooter a:hover {
    transform: scale(1.1, 1.1);
  }
  .redesSociales a:hover {
    transform: scale(1.5, 1.5);
  }
  .logoIndex a:hover {
    transform: scale(1.1, 1.1);
  }
  /* Fin Transformaciones */
  .articulosVenta img {
    width: 100%;
  }
  .infoEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ordenInfoCondiciones {
    width: 70%;
  }
  .ordenInfoCondiciones div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ordenInfoCondiciones h3 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
  }
  .ordenInfoCondiciones h4 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
  }
  .ordenInfoCondiciones p {
    font-size: 1rem;
  }
  .ordenInfoContacto img {
    width: 150px;
  }
  .ordenInfoContacto li {
    text-align: center;
    margin: 20px 10px 20px 10px;
    font-size: 1.5rem;
    border: solid 1px black;
    border-radius: 3px;
    padding: 15px;
  }
  .formContacto ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    flex-direction: row;
  }
  .mapaLocal {
    width: 70%;
    align-items: center;
  }
  .mapaLocal iframe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textoAcercaDe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
/* Configuracion para pantallas mayores de 1200px */
@media (min-width: 1200px) {
  .articulosIndex img {
    height: 150px;
    width: 150px;
  }
  .articulosIndex video {
    height: 450px;
    width: 450px;
  }
  .textoIndex span {
    font-size: 2rem;
  }
  .seccionIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ordenInfoEmpresa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 15px 15px 15px 15px;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .ordenInfoEmpresa div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .ordenInfoEmpresa h3 {
    font-size: 3rem;
  }
  .ordenInfoEmpresa h4 {
    font-size: 2.5rem;
    text-align: center;
  }
  .ordenInfoEmpresa p {
    font-size: 2rem;
  }
  .ordenInfoEmpresa img {
    padding-bottom: 15px;
  }
}
.bodyCamisetas {
  background-image: url(../fondos/degradado.jpg);
  background-size: cover;
}

.camisetaVenta {
  border: solid white 4px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  margin-bottom: 115px;
  margin-right: 5%;
  background-image: url(../fondos/camiseta-venta.png);
  background-size: cover;
}
.camisetaVenta img {
  width: 100%;
}
.camisetaVenta h3 {
  font-size: 1.5rem;
}
.camisetaVenta span {
  font-size: 1rem;
  margin-bottom: 15px;
}
.camisetaVenta select {
  margin-bottom: 14px;
  border: solid 2px black;
}

.contenedorCamisetas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 25px 15px 25px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contenedorCamisetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-around;
  }
}
@media (min-width: 1200px) {
  .contenedorCamisetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.bodyGuantes {
  background-image: url(../fondos/cielo.jpg);
  background-size: cover;
}

.guantesVenta {
  border: solid darkslategray 4px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 115px;
  margin-right: 5%;
  background-image: url(../fondos/guantes-venta.png);
  background-size: cover;
}
.guantesVenta img {
  width: 100%;
}
.guantesVenta h3 {
  font-size: 1.5rem;
}
.guantesVenta span {
  font-size: 1rem;
  margin-bottom: 15px;
}
.guantesVenta select {
  margin-bottom: 14px;
  border: solid 2px black;
}

.contenedorGuantes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 25px 15px 25px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contenedorGuantes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-around;
  }
}
@media (min-width: 1200px) {
  .contenedorGuantes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.bodyMedias {
  background-image: url(../fondos/medias.jpg);
  background-size: cover;
}

.mediasVenta {
  border: solid darkslategray 4px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 115px;
  margin-right: 5%;
  background-image: url(../fondos/medias-venta.png);
  background-size: cover;
}
.mediasVenta img {
  width: 100%;
}
.mediasVenta h3 {
  font-size: 1.5rem;
}
.mediasVenta span {
  font-size: 1rem;
  margin-bottom: 15px;
}
.mediasVenta select {
  margin-bottom: 14px;
  border: solid 2px black;
}

.contenedorMedias {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 25px 15px 25px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contenedorMedias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-around;
  }
}
@media (min-width: 1200px) {
  .contenedorMedias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.bodyOtros {
  background-image: url(../fondos/cielo.jpg);
  background-size: cover;
}

.otrosVenta {
  border: solid darkslategray 4px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 115px;
  margin-right: 5%;
  background-image: url(../fondos/otros-venta.png);
  background-size: cover;
}
.otrosVenta img {
  width: 100%;
}
.otrosVenta h3 {
  font-size: 1.5rem;
}
.otrosVenta span {
  font-size: 1rem;
  margin-bottom: 15px;
}
.otrosVenta select {
  margin-bottom: 14px;
  border: solid 2px white;
}

.contenedorOtros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 25px 15px 25px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contenedorOtros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-around;
  }
}
@media (min-width: 1200px) {
  .contenedorOtros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.bodyShorts {
  background-image: url(../fondos/cielo.jpg);
  background-size: cover;
}

.shortsVenta {
  border: solid darkslategray 4px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 115px;
  margin-right: 5%;
  background-image: url(../../fondos/shorts-venta.png);
  background-size: cover;
}
.shortsVenta img {
  width: 100%;
}
.shortsVenta h3 {
  font-size: 1.5rem;
}
.shortsVenta span {
  font-size: 1rem;
  margin-bottom: 15px;
}
.shortsVenta select {
  margin-bottom: 14px;
  border: solid 2px black;
}

.contenedorShorts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 25px 15px 25px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contenedorShorts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-around;
  }
}
@media (min-width: 1200px) {
  .contenedorShorts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.bodyZapatos {
  background-image: url(../fondos/zapatos.jpg);
  background-size: cover;
}

.zapatosVenta {
  border: solid darkslategray 4px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-bottom: 115px;
  margin-right: 5%;
  background-image: url(../fondos/zapatos-venta.png);
  background-size: cover;
}
.zapatosVenta img {
  width: 100%;
}
.zapatosVenta h3 {
  font-size: 1.5rem;
}
.zapatosVenta span {
  font-size: 1rem;
  margin-bottom: 15px;
}
.zapatosVenta select {
  margin-bottom: 14px;
  border: solid 2px black;
}

.contenedorZapatos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 25px 15px 25px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contenedorZapatos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-around;
  }
}
@media (min-width: 1200px) {
  .contenedorZapatos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.ubicacionArticulos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../fondos/cielo.jpg);
  background-size: cover;
}
.ubicacionArticulos a {
  color: black;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .ubicacionArticulos a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .ubicacionArticulos a {
    font-size: 2rem;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.facturaCompra {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  margin-top: 5px;
  background-color: white;
  padding: 10px;
}
.facturaCompra h2 {
  margin-top: 10px;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .facturaCompra h2 {
    margin-top: 10px;
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .facturaCompra h2 {
    margin-top: 10px;
    font-size: 3rem;
  }
}

.ordenFactura {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 5px black;
  background-color: wheat;
}
.ordenFactura h3 {
  margin-top: 10px;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .ordenFactura h3 {
    margin-top: 10px;
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .ordenFactura h3 {
    margin-top: 10px;
    font-size: 2.5rem;
  }
}

.logoEmpresa {
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 2px;
  margin-top: 12px;
}
.logoEmpresa h3 {
  margin-top: 10px;
  font-size: 1rem;
}

.facturaCompraCuerpo {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 2px;
  margin-top: 10px;
}
.facturaCompraCuerpo h1 {
  font-size: 10px;
  color: black;
}
.facturaCompraCuerpo h2 {
  font-size: 10px;
  color: black;
}

.facturaCompraPie {
  width: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 2px;
  margin-top: 20px;
  padding-right: 20px;
}

.facturaCompraConfirmar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px;
}

.compraArticulo {
  background-color: green;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: antiquewhite;
  margin-bottom: 15px;
  font-size: 2rem;
}

.cancelaArticulo {
  background-color: red;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  color: antiquewhite;
  margin-bottom: 15px;
  font-size: 2rem;
}

.contenedorGracias {
  width: 400px;
}

.graciasPorComprar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .graciasPorComprar {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .graciasPorComprar {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
